.device_content {
  min-height: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
}

.device_content > h1 {
  text-align: center;
  padding: 0 0 1rem;
}

.more_help {
  align-self: center;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--color-blue);
  color: var(--color-gray);
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
  border: 2px solid var(--color-skyblue);
}

#device-1 {
  background-position-x: 20%;
}

#device-1 > h1 {
  color: var(--color-gray);
}

#device-1 > a {
  color: var(--color-black);
  background-color: var(--color-white);
}

#device-2 > h1 {
  color: var(--color-gray);
}

#device-3 {
  background-position-x: center;
}

@media (min-width: 1024px) {
  #device-0,
  #device-1,
  #device-2,
  #device-3 {
    background-position: center;
  }

  #device-1 {
    background-position-y: bottom;
  }

  #device-1 > a:hover,
  #device-2 > a:hover {
    box-shadow: 3px 3px 5px var(--color-gray);
  }

  .more_help:hover {
    box-shadow: 3px 5px 5px var(--color-black);
    transition: box-shadow .1s ease-in;
  }
}